@model ProjectWeb.Models.Product
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}
<div class="product-details">
    <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="@Model.Image" alt="">
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <img src="images/product-details/new.jpg" class="newarrival" alt="">
                <h2>@Model.Name</h2>
                <p>Web ID: @Model.Id</p>
                <img src="images/product-details/rating.png" alt="">
                <span>
                    <span>US $@Model.Price</span>
                    <label>Quantity:</label>
                    <input type="text" value="@Model.Count">
                    <button type="button" class="btn btn-fefault cart">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </button>
                </span>
                <p><b>Kho :</b>Còn Hàng</p>
                <p><b>Tình Trạng :</b> Mới </p>
                <p><b>Thương Hiệu :</b>ABC</p>
                <p><b>Mô Tả :</b> @Model.Description</p>
                @*<p style="padding:20px;padding-top:50px;">Mô tả :
                        @Html.Raw(@item.Description.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
                    </p>*@
                <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a>
            </div><!--/product-information-->
        </div>
</div>

