@model ProjectWeb.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-bordered" style="margin-top:100px">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.Category.Id)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Description)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Price)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Image)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.CategoryId</th>
            <td> @Html.DisplayFor(model => model.Name)</td>
            <td> @Html.DisplayFor(model => model.Description)</td>
            <td> @Html.DisplayFor(model => model.Price)</td>
            <td><img style="height:200px;width:180px" src="~/images/@Model.Image" /></td>
        </tr>
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>