@model IEnumerable<ProjectWeb.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p  class="btn btn-success" style="margin-bottom:10px">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Tên sản phẩm
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Mô tả
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            Giá
        </th>
        <th style="text-align: center">
            @*@Html.DisplayNameFor(model => model.Image)*@
            Hình ảnh
        </th>
        <th style="width:79px; text-align:center">
            @*@Html.DisplayNameFor(model => model.Count)*@
            Số lượng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Image)*@
            <img style="height:130px;width:130px" src="~/images/@item.Image" />
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td style="width: 230px"
>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id },new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
