@model  ProjectWeb.Models.Mail
@{ ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
}
         @Html.ValidationSummary()                  
            @*<p>@Html.TextBoxFor(m => m.From)</p>*@
            @*<p>To: </p>*@
            @*<p>@Html.TextBoxFor(m => m.To)</p> 
            <p>Subject: </p>
            <p>@Html.TextBoxFor(m => m.Subject)</p>
            <p>Body: </p> <p>@Html.TextAreaFor(m => m.Body)</p>*@
            @*<input type="submit" value="Send" />*@
                <div class="col-sm-5 col-sm-offset-3">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Quên mật khẩu</h2>
                        @using (Html.BeginForm())
                        {
                            <input type="email" name="Email" placeholder="Email">
                            <span>
                                <input type="checkbox" class="checkbox">
                                Nhớ tài khoản
                            </span>
                            <button type="submit" class="btn btn-default">Gửi</button>
                        }
                        <h4 style="color: red; text-align: center">@ViewBag.Thongbao</h4>
                    </div><!--/login form-->
				</div>